<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.example"
        versionCode="10" 
        version   = "2.9.0">

    <!-- versionCode is optional and Android only -->

    <name>Cine Colombia</name>

    <description>
        Demo de cine Colombia
    </description>

    <author href="https://amellali.itzel.com" email="amelia_949@hotmail.com">
        Amellali Lopez Garcia
    </author>

    <preference name="prerendered-icon" value="true" />

    <icon src="assets/iconos/icono.png" />

    <icon src="assets/iconos/icon-57.png" gap:platform="ios" width="57" height="57" />
    <icon src="assets/iconos/icon-72.png" gap:platform="ios" width="72" height="72" />
    <icon src="assets/iconos/icon-114.png" gap:platform="ios" width="114" height="114" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <icon src="assets/iconos/icon-144.png" gap:platform="ios" width="144" height="144" />

    <icon src="assets/iconos/icon-36.png" gap:platform="android" gap:density="ldpi" />
    <icon src="assets/iconos/icon-48.png" gap:platform="android" gap:density="mdpi" />
    <icon src="assets/iconos/icon-72.png" gap:platform="android" gap:density="hdpi" />
    <icon src="assets/iconos/icon-96.png" gap:platform="android" gap:density="xhdpi" />

    <gap:splash src="assets/splash/320-x-480.png" gap:platform="ios" width="320" height="480" />

    <gap:splash src="assets/splash/640-x-1136.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="assets/splash/640-x-1136.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="assets/splash/1024-x-748.png" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="assets/splash/768-x-1004.png" gap:platform="ios" width="768" height="1004" />

    <!-- retina iPad support: PhoneGap 2.5.0+ only -->
    <gap:splash src="assets/splash/1536x2008px.png" gap:platform="ios" width="2048" height="1496" />
    <gap:splash src="assets/splash/1536x2008px.png" gap:platform="ios" width="1536" height="2008" />

    <gap:splash src="assets/splash/200-x-320.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="assets/splash/320-x-480.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="assets/splash/480-x-800.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="assets/splash/720-x-1280.png" gap:platform="android" gap:density="xhdpi" />
</widget>