body{
    		color: #fff;
    		font-family: 'Century Gothic';
    	}
#menu{
	position: fixed;
    margin: 0px;
    padding: 0px;
    top:140px ;
    left: 0px;
    border: 2px;
    border-color: #000;
     z-index:9999;
}
 ul#navigation {
    list-style: none;

    -webkit-padding-start:0px;  
    -moz-padding-start:0px;  
}

    width: 100px;
}
#menu ul#navigation li  {
		 display: block;
    margin-left:  5px;  
    width: 130px;
    height: 70px;
    background-repeat:no-repeat;
    background-position:center center;
    
}		
#menu ul#navigation li  {
    display: block;
    margin-left: 5px;  //-85px;
    width: 130px;
    height: 70px;
    
    background-repeat:no-repeat;
    background-position:center center;
    
    -moz-border-radius:0px 10px 10px 0px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -khtml-border-bottom-right-radius: 10px;
    -khtml-border-top-right-radius: 10px;
    
}
#menu ul#navigation li  span{
	position: fixed;
	margin-left: 15px;
	padding-left: 10px;
	margin-top: 38px;
}


#menu ul#navigation .cartelera {
    background-image: url(../image/menu/cartelera.png);
}
#menu ul#navigation .estrenos       {
    background-image: url(../image/menu/estrenos.png);
}
#menu ul#navigation .complejos {
    background-image: url(../image/menu/complejos.png);
}
#menu ul#navigation .festivales {
    background-image: url(../image/menu/festivales.png);
}

#down,#footer{
	display:none;
}