
#menu{
    position: fixed;
    height:95%;
    width:100%;
    color: #fff;
    font-family: 'Century Gothic';
    font-size: large; 
    overflow-y: scroll;
    overflow-x: hidden;
}
ul#navigation {
    margin-top: 70%;
    background-image: url("../image/fondomenu.png");
    background-repeat: repeat;
    background-size: contain ;
	list-style: none;
    width: 100%;
    padding: 2%;
    margin-bottom: 0px;
    }
ul#navigation li {
    padding:4%;
    margin-left: 20%;
    width: 100%;
    background-repeat:no-repeat; 
    background-size: contain;
    -moz-border-radius:10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
    -khtml-border-radius: 10px 10px 10px 10px;
	}
ul#navigation li  span{
            margin-left: 15px;
            padding-left: 10px;
            margin-top: 38px;
        }
ul#navigation .cartelera {
    background-image: url(../image/menuPhone/cartelera.png);

}
ul#navigation .estrenos  {
    background-image: url(../image/menuPhone/estrenos.png);
}
ul#navigation .complejos {
    background-image: url(../image/menuPhone/complejos.png);
}
ul#navigation .festivales {
    background-image: url(../image/menuPhone/festivales.png);
}

#down{
    margin: 0px;   
    background-image: url("../image/fondomenu.png");
    background-repeat: repeat;
    background-size: contain ;
    width:100%;
    padding-top:1%;
    padding-bottom:1%;
}