body{
    margin:0px;
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
.general {
    position: fixed;
    margin: 0px;
    padding:0px;
    background-image: url("../image/FondoCartelera1.png");
    background-repeat:repeat-y;
    background-size: cover;    
    height:100%;
    width:100%;  
}
#listaPelicula {
    overflow-y: scroll;  
}
#header{
    top: 0;
    position: static;
}
.oculto{
    display: none;
}
 #listaPelicula ul {
    list-style-type: none;
}
#peliculas {
    list-style-type:none;
}
#peliculas li{
    display: block;
}
#listaPelicula ul li   {
    color: #0101DF;
}
#footer{
    width:98%;
    left:1%;
    right:1%;
    top:95%;
    height:10%;
    position:fixed;
}