body {
    background-image: url("../image/FondoCartelera1.png");
    background-repeat:repeat-y;
    background-size: 100%;
}
#listaPelicula {
    height: 500px;
    overflow-y: scroll;
    
}
#header{
    
    top: 0;
    position: static;
}
.oculto{
    display: none;
}
 #listaPelicula ul {
    list-style-type: none;
}
#peliculas {
    list-style-type:none;
}
#peliculas li{
    display: block;
}
#listaPelicula ul li   {
    color: #0101DF;
}

